.body {
    top: 0 !important;
}
.skiptranslate {
    display: none;
    height: 0;
}
.language__img {
    cursor: pointer;
}
.main {
    display: flex;
    flex-direction: column;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
}
th, td{
    padding: 15px 50px;
    border: 1px solid #000;
}
.edit {
    box-sizing: border-box; /* включим border и padding в размеры элемента */
    /* margin: 0; */        /* у textarea по умолчанию margin равен нулю */
    display: block;
    resize: none;
}
.btn {
    margin: 15px 10px 10px 10px;
}
.btn-link {
    background: #e7e7e7; /* Серый цвет фона */
    color: rgb(0, 0, 0); /* Белый цвет текста */
    text-decoration: none; /* Убираем подчёркивание */
    border: 0.5px solid black;
    width: 150px;
    padding-left: 7px;
    margin-top: 5px;
}
.top {
    display: flex;
    flex-direction: row;
}
.textarea {
    position: absolute;
    height: 20%;
    width: 25%;
    margin-left: 20%;
    border: 1px solid black
}
.buttoncontainer {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}

@media (min-width: 600px) and (max-width: 768px) {
	/* Замещаем стили для окон шириной 600-700 пикселов. */
    .loadButton {
        width: 100px;
    }
    .loadBackButton {
        width: 100px;
    }
    .textarea {
        height: 20%;
        width: 25%;
        margin-left: 10%;
        margin-top: 50%;
        border: 1px solid black
    }
    
    th, td{
        padding: 0;
    }
    .top {
        flex-direction: column;
    }
    .bottom {
        display: flex;
        width: 45%;
        justify-content: flex-end;
    }
    .h1 {
        width: 500px;
    }
}

@media (min-width: 400px) and (max-width: 600px) {
	/* Замещаем стили для окон шириной 400-600 пикселов. */
    .textarea {
        height: 20%;
        width: 25%;
        margin-left: 10%;
        margin-top: 50%;
        border: 1px solid black
    }
    
    th, td{
        padding: 0;
    }
    .top {
        flex-direction: column;
    }
    .bottom {
        display: flex;
        width: 45%;
        justify-content: flex-end;
    }
}

@media (max-width: 400px) {
	/* Замещаем стили для окон шириной до 400 пикселов. */
    .textarea {
        height: 20%;
        width: 25%;
        margin-left: 10%;
        margin-top: 50%;
        border: 1px solid black
    }
    
    th, td{
        padding: 0;
    }
    .top {
        flex-direction: column;
    }
    .bottom {
        display: flex;
        width: 45%;
        justify-content: flex-end;
    }
}